<h1>{{ "Image Transforms"|t('app') }}</h1>
<table class="data fullwidth collapsible">
    <thead>
    <tr>
        <th>
            <div class="field checkboximagetransform">
                <input type="checkbox" id="allImageTransforms" class="checkbox" name="allImageTransforms"
                       value="all"><label for="allImageTransforms">&zwnj;</label>
                {{ "Name"|t('app') }}
            </div>
        </th>
        <th>{{ "Handle"|t('app') }}</th>
        <th>{{ "Mode"|t('app') }}</th>
        <th>{{ "Dimensions"|t('app') }}</th>
        <th>{{ "Format"|t('app') }}</th>
    </tr>
    </thead>
    <tbody class="imageTransforms">
    {% for imageTransform in craft.app.imageTransforms.getAllTransforms() %}
        <tr>
            <th scope="row">
                <input type="checkbox" id="imageTransform{{ imageTransform.id }}" class="checkbox"
                       name="imageTransformSelection[]" value="{{ imageTransform.id }}"> <label
                        for="imageTransform{{ imageTransform.id }}">{{ imageTransform }}</label>
            </th>
            <td>
                <code>{{ imageTransform.handle }}</code>
            </td>
            <td>
                {{ imageTransform.mode }}
            </td>
            <td>
                <code>{{ imageTransform.width }} &times; {{ imageTransform.height }}</code>
            </td>
            <td>
                {{ (imageTransform.format) ? imageTransform.format : 'auto' }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
