<h1>{{ "Sections"|t('app') }}</h1>
<table class="data fullwidth collapsible">
    <thead>
    <tr>
        <th>
            <div class="field checkboxsection">
                <input type="checkbox" id="allSections" class="checkbox" name="allSections" value="all"><label
                        for="allSections">&zwnj;</label>
                {{ "Name"|t('app') }}
            </div>
        </th>
        <th>{{ "Handle"|t('app') }}</th>
        <th>{{ "Type"|t('app') }}</th>
        <th>{{ "URI Format"|t('app') }}</th>
    </tr>
    </thead>
    <tbody class="sections">
    {% for section in craft.app.sections.getAllSections() %}
        {% set utilizedFields = {} %}
        {% for entryType in section.getEntryTypes() %}
            {% for sectionTab in entryType.getFieldLayout().getTabs() %}
                {% for tabField in sectionTab.getElements() %}
                    {% if tabField.className == 'craft\\fieldlayoutelements\\CustomField' %}
                        {% set utilizedFields = utilizedFields | merge([tabField.getField.id]) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        <tr class="section" data-id="{{ section.id }}" data-name="{{ section }}"
            data-fields="{% for id in utilizedFields %}{{ id }} {% endfor %}">
            <th scope="row">
                <input type="checkbox" id="section{{ section.id }}" class="checkbox" name="sectionSelection[]"
                       value="{{ section.id }}"> <label for="section{{ section.id }}">{{ section }}</label>
            </th>
            <td>
                <code>{{ section.handle }}</code>
            </td>
            <td>
                {{ section.type }}
            </td>
            <td>
                {# {{ section.uriFormat }} #}
                <ul>
                    {% for siteSetting in section.siteSettings %}
                        {% set site = craft.app.sites.getSiteById(siteSetting.siteId) %}
                        <li>
                            <i>{{ site ? site.handle : siteSetting.siteId }}</i>: {{ siteSetting.uriFormat }}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
