<h1>{{ "User Groups"|t('app') }}</h1>
<table class="data fullwidth collapsible">
    <thead>
    <tr>
        <th class="checkbox-cell">
            <div class="field checkboxusergroup">
                <input type="checkbox" id="allGroups" class="checkbox" name="allGroups" value="all"><label for="allGroups"> </label>
                {{ "Name"|t('app') }}
            </div>
        </th>
        <th>{{ "Handle"|t('app') }}</th>
    </tr>
    </thead>
    <tbody class="groups">
    {% if craft.userGroups is not null %}
        {% for group in craft.app.userGroups.getAllGroups() %}
            <tr class="group" data-id="{{ group.id }}" data-name="{{ group }}">
                <th scope="row" class="checkbox-cell">
                    <input type="checkbox" id="group{{ group.id }}" class="checkbox" name="groupSelection[]" value="{{ group.id }}"> <label for="group{{ group.id }}">{{ group }}</label>
                </th>
                <td>
                    <code>{{ group.handle }}</code>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>